<section class="admin-products-index">

  <header class="page-header">
    <h1>ADMIN &raquo; ALL CATEGORIES</h1>
  </header>

  <div class="well">
    <%= link_to '+ NEW CATGORY', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">CATEGORY</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>

</section>