<section class="admin-products-index">

  <header class="page-header">
    <h1>ADMIN &raquo; ALL PRODUCTS</h1>
  </header>

  <div class="well">
    <%= link_to '+ NEW CATEGORY', [:new, :admin, :product], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr><b>
          <th colspan="2">PRODUCT</th>
          <th>CATEGORY</th>
          <th>PRICE</th>
          <th>QTY REMAINING</th>
          <th></th>
        </b>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>

  </div>

</section>