.navbar {
    background-color: #010101;

    .navbar-header {

        .navbar-brand {
            font-size: 25px;
            color: whitesmoke;
            font-family: 'Chonburi', cursive;

        }

        .navbar-toggle {
            border-color: black;
            background-color: black;
        }
    }
}