// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "user_pages";
@import "products";
@import "admin_pages";

// Global
html {
  height: 100%;

  body {
    padding-top: 70px;
    background-color: black;
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
