@import 'top_nav';

.page-header {
  border-bottom: 1px solid #8500ff;

  h1 {
    color: lightgrey;
    font-family: 'Raleway', sans-serif;
  }
}

main section.products-index,
main section.categories-show {

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .product {
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position: relative;
      color: darkgrey;
      padding: 15px;
      padding-bottom: 80px;
      margin-top: 20px;
      border: 1px solid black;
      transition: all 0.3s;

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      h4 {
        padding-top: 10px;
        color: lightgrey;
      }

      p {
        font-family: 'Open Sans';
      }

      .btn {
        border-radius: 0px;
        border-color: #484848;
        background-color: #484848;
        color: white;
      }

      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #131212;
        padding: 15px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        color: whitesmoke;
        background-color: #0e0e0e;
        border: 0.5px solid lightseagreen;
        font-size: 0.8em;
      }

      aside.soldOut {
        position: absolute;
        color: #ffffff;
        top: 0;
        left: 0;
        padding: 10px;
        background-color: salmon;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 20px;
        font-size: 0.8em;
      }

      &:hover {
        border: 1px solid #ccc;

        footer {
          opacity: 1.0;
        }
      }

    }
  }
}

main section.products-show {

  .product-detail {
    img.main-img {
      max-width: 100%;
    }

    h1 {
      color: slategrey;
      font-family: 'Raleway';
      font-weight: bold;
    }

    .description {
      font-family: 'Open Sans';
      font-weight: bold;
      color: dimgrey;
    }

    dt {
      color: grey;
    }

    dd {
      color: dimgrey;
    }

    .label-danger {
      border-radius: 0px;
      background-color: #ff0047;
      float: right;
    }

    .new_review {
      margin-top: 10px;
      padding: 10px;

      #review_description {
        background-color: black;
        padding: 10px;
        border: 1px solid dimgrey;
      }

      #review_rating {
        padding: 11px;
        color: darkgrey;
        background-color: #1f1f1f;
        margin-left: 5px;
      }

      input {
        margin-top: 15px;
        background-color: #404040;
        border: 2px solid #404040;
        width: 250px;
        padding: 5px;
        color: whitesmoke;
      }
    }
  }
}